<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{model.Title}}</h3>
        <p>
            <strong>Alternate Template Used</strong>
        </p>
    </div>
    <div class="panel-body" style="height: 325px; overflow: auto;">
        <img ng-src="/Images/{{model.ImageUrl}}" class="img-thumbnail" />
        <p>
            Created: {{model.DateCreated | date: dateFormat}}
            <span ng-if="model.DateModified">
                Modified: {{model.DateModified | date: dateFormat}}
            </span>
        </p>
        <p ng-if="model.Description">
            <i>{{model.Description}}</i>
        </p>
    </div>
    <div class="panel-footer">
        <p>
            <a class="btn btn-info" ng-href="#/edit/{{model.Id}}"><span class="glyphicon glyphicon-pencil"></span></a>
            <button type="button" class="btn btn-danger" ng-click="deleteImage()"><span class="glyphicon glyphicon-trash"></span></button>
        </p>
    </div>
</div>