<div ng-controller="PhotosListController">
    <div class="row">
        <div class="col-md-12">
            <br class="clearfix" /><br class="clearfix" />
            <a ng-href="#/create" class="btn btn-primary">Add Image</a>
            <br class="clearfix" /><br class="clearfix" />
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">Search</label>
                <div class="col-md-10">
                    <input type="search" ng-model="filters.Title" placeholder="Type to Search Title" class="form-control"
                           ng-model-options="{ updateOn: 'blur' }"
                           name="filterTitle" />
                </div>
            </div>
        </div>
    </div>
    <div ng-cloak class="row">
        <div class="col-sm-6 col-md-4" dir-paginate="i in photos | orderBy: 'DateModified' | filter: filters | itemsPerPage: 6" pagination-id="pagerImages">
            <photo-panel model="i" on-delete="deleteImage(i)"></photo-panel>
        </div>
    </div>
    <div class="row">
        <dir-pagination-controls pagination-id="pagerImages"></dir-pagination-controls>
    </div>
</div>