<div class="jumbotron">
    <h1>Add Photo</h1>
</div>
<div class="row">
    <photo-form model="model" on-save="saveImage()">
        <div class="form-group">
            <div class="control-label col-md-3">Select an Image</div>
            <div class="col-md-9">
                <div class="btn btn-success" ngf-select ng-model="model.File" name="File"
                     ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="1MB" ng-required="true">Select...</div>
                <span class="error-message" ng-show="frmSaveImage.File.$error">
                    <br class="clearfix" />
                    <span ng-show="frmSaveImage.File.$error.required">Please select a File.</span>
                    <span ng-show="frmSaveImage.File.$error.pattern">Please select a File of type Image.</span>
                    <br class="clearfix" />
                </span>
            </div>
        </div>
        <div ng-if="model.File">
            <div class="form-group">
                <div class="col-md-offset-3 col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img ngf-thumbnail="model.File" style="max-height: 225px;" />
                        <div class="caption">
                            File: {{model.File.name}}<br />
                            Size: {{model.File.size | bytes }}<br />
                            Type: {{model.File.type}}<br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </photo-form>
</div>