<div ng-controller="PhotosListShellCtlr">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ng-href="#/">My Photos App</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-repeat="item in navRoutes">
                        <a ng-href="#{{item.url}}" ng-class="isCurrent(item)"><i ng-class="item.config.settings.icon"></i> {{item.config.settings.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <ng-view></ng-view>
    </div>
</div>
