<div ng-app="photosApp">
    <div ng-include="'/App/views/PhotosList.Index.html'"></div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/photoApp")
}
